html{
 
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', 'Segoe UI', 'system-ui';
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
nav {
    background-color: #FA6400;
    width: 100%;
    margin-bottom: 25px;
   
    
}
#mobile-open-nav{
    display: none;
    
}
#mobile-close-nav{
    display: none;
    
}
#nav-inner{
    max-width: 950px;
    width: 100%;
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}
nav ul{
    display:flex;
    flex-direction:row;
    gap:35px;
    text-decoration:none;
    list-style-type:none;

}
nav a {
    color: white;
}
button {
    border: 0px solid transparent;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    padding: 10px;

}
a:hover{
    border-radius: 8px;
    background: #DC4300;
 
}
main {
    max-width: 950px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#headings{
    max-width:950px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left:60px;
    padding-right:60px;
    display: flex;
    flex-direction: column;
}
#heading-container-1{
    display: flex;
    
}
#heading-container-2{
    display:flex;
    flex-direction: column;
}

h1{
    background: -webkit-linear-gradient(left, #FA6400, #DC4300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
    margin-bottom: 15px;
}
h2 {
    background: -webkit-linear-gradient(left, #FA6400, #DC4300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.15rem;
    margin-top:0;
}
ul{
    display:flex;
    flex-direction:column;
    gap:10px;
}
ul li::marker {
    color: #FA6400;
}
#logo {
    color: white;
    font-weight:bold;
    font-size: 1.2rem;
    display: flex;

}
#logo:hover{
    background: transparent;
}

#logo img {
    width: 26px;
    height: 26px;
    margin-right: 11px;
}

footer {
    width:100%;
    height: 180px;
    background: #1F1F1F;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 125px;

}
#footer-text{
    color:white;
    width: 1280px;
    text-align: center;
}
#footer-text a{
    color: white;
}

/*********** PASSWORD PAGE ***************/
#login-heading {
    max-width: 800px;
    text-align: center;
}
#login-form {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
#password-input {
    height: 35px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #FA6400;
    padding-left: 8px;
    box-sizing: border-box;
    
}
#login-submit {
    border: 1px solid #FA6400;
    border-radius:8px;
    width: 65px;
    height: 35px;
}
#login-submit:hover {
    border: 2px solid #FA6400;
    cursor: pointer;
}

/*********** APP/INDEX PAGE *************/

#how-to-use {
    width: 100%;
    text-align: left;
}
#spinner {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    height: 75spx;
}

#query-answer-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
    width: 100%;
    background-color: #ffede1;
    border-radius:8px;
    box-sizing: border-box;
    padding: 40px;
    padding-bottom: 60px;
}
.field-label-and-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.field-label{
    max-width:850px;
    width: 100%;
    margin-bottom:4px;
    padding-left: 5px;
    padding-bottom: 1px;
    color:#FA6400;
    font-weight: bold;
}
.hide-scrollbar-edges{
    border-radius: 13px;
    overflow: hidden;
    display:flex;
    background: white;
    max-width: 850px;
    width: 100%;
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom: 15px;
  
}
#button-submit-query{
    background: url("/static/images/circle-up-solid.svg");
    height: 35px;
    width: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 5px;
}
#button-submit-query:hover {
    filter: brightness(130%);
    cursor: pointer;
}
#button-submit-query:active {
    height: 37px;
    width: 37px;
}
.field {
    resize: none;
    max-width: 850px;
    width: 100%;
    padding-left:10px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom: 15px;
    background:#ffffff;
    color: black;
    border:0px solid black;
}
#query-field{
    max-height: 200px;
    overflow-y: auto;
    overflow-wrap: anywhere;

   
}
[contenteditable] {
    outline: 0px;
}
#answer-field-and-spinner{
    border-radius: 13px;
    box-sizing: border-box;
    min-height: 100px;

}
#answer-field{
    padding-left: 5px;
}
#answer-field ol{
    list-style-type: none;
}
#answer-field p{
    margin-top: 11px;
    margin-bottom: 11px;
}

/********* DOCUMENTATION PAGE *********/
.dropdown-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
}
.dropdown-button{
    border:0px;
    border-radius: 11px;
    max-width: 445px;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #FA6400;
    color:white;
    font-weight:bold;
    font-size: 0.9375rem;
}
.dropdown-button:hover{
    background-color: #DC4300;
    cursor: pointer;
  
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.dropdown{
    display: none;
    flex-direction: column;
    max-width: 800px;
    background-color: #fff1e8;
    border-radius:8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
}


/********** MOBILE *************/

@media only screen and (max-width: 600px) {

nav {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        padding-right: 14px;
        align-items: center;
        box-sizing: border-box;
}
h1 {
        font-size: 2rem;
}
 #logo-and-menu-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
 }
 #logo {
    width: 85%;
 }
 #close-open-buttons {
    width: 15%;
 }
 .nav-button{
    height: 26px;
    width: 26px;

 }
    #mobile-open-nav {
        display: flex;
      
        
    }
    #nav-inner {
        flex-direction: column;
        align-items: start;
        
    }
    nav ul {
        display: none;
        flex-direction: column;
    }
    main {
        padding-left: 10px;
        padding-right: 10px;
     
    }
    #headings {
        padding-left: 0;
        padding-right: 0;
    }
    #query-answer-container {
        padding: 12px;
        padding-bottom: 55px;
        margin-top: 32px;
        gap: 35px;
    }


}