{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
<div id="headings">
    <h1> Find legislation relevant to your legal issue.<h1>
    <h2> Legislation Assist is an AI legal research tool that finds legislation related to legal issues. </h2>
</div>
</header>

<div id="query-answer-container">
    <div id="how-to-use">
        <p>Provide a legal issue, the relevant jurisdiction(s), and get a list of related legislation.</p>
        <p>E.g. "Can a utility company expropriate land? Toronto, Ontario."</p> 

    </div>
    <div class="field-label-and-field">
        <div class="field-label">
            Query </br>
        </div>
        <div class="hide-scrollbar-edges">
        <div class="field" id="query-field" contenteditable autocomplete="off" placeholder="Enter your query..."> </div>
        <button type="submit" id="button-submit-query"></button>
        </div>
    </div>
    <div class="field-label-and-field">
        <div class="field-label">
            Answer
        </div>
        <div class="field" id="answer-field-and-spinner">
            <img id='spinner' src="{% static 'images/spinner.svg' %}">
            <div id="answer-field">
            
    
            </div>
        </div>
    </div>
</div>

{% endblock %}
