{% extends 'base.html' %}

{% block content %}

    <header>
        <div id="headings">
            <h1> Login </h1>
        </div>
    </header>

<div id="login-heading">
    <p> This page has been password protected to protect it from malicious (e.g. spam) queries.</p> If you should be able to access this page, you can find the password on the document on which the link to this site was provided. Or you can get in touch with me if you have my contact information.</p>
    <p> {% if error_message %}
       <span style="color:rgb(240, 23, 23);"><b> {{ error_message }} </b></span>
        {% endif %}
    </p>
</div>

<form method="POST" id="login-form">
    {% csrf_token %}
    <input type="password" name="password" id="password-input" placeholder="Enter password">
    <button type="submit" id="login-submit">Login</button>
</form>





{% endblock %}