{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1> Find legislation relevant to your legal issue.<h1>
 
    <h2> Enter your issue and discover pertinent legislation. </h2>
    <h3> E.g. "Client purchased a house with a utility poll in their backyard, and the utility company says they can't remove it even though their lawyer said they could."</h3> 
    <h3> E.g. "Client landlord's commercial tenant is running a licensed grow op on the leased premise. The lease agreement doesn't forbid this purpose, but my client would still like to terminate the agreement." </h3>

<div id="query-answer-container">
    <div class="field-label-and-field">
        <div class="field-label">
            Query
        </div>
        <input type="text" id="query-field" autocomplete="off" placeholder="Enter your query...">
       
     
    </div>
    <div class="field-label-and-field">
        <div class="field-label">
            Answer
        </div>
        <div id="answer-field">

      
    </div>
</div>

{% endblock %}